:root{
    --cor-preto: #191516;
    --cor-branco: #ffffff;
    --cor-vinho: #A60067;
    --cor-azul-duvidoso:#6153CC;
    --cor-azul-clarin: #e5f4e3;
}

body{
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}
/*
.item-menu {
    color: var(--cor-vinho);
}
*/
.item-menu{
    color: var(--cor-azul-clarin)
}
 /*
    :link
    :active
    :visited
    :hover
*/
header nav a.item-menu{
    color: var(--cor-branco);
    text-decoration: none;
    border: var(--cor-branco) 1px solid;
    padding: 5px 10px;
}
header nav a.item-menu: visited {
    background-color: var(--cor-branco)
    color: var(--cor-vinho);
}

section{
    min-height: 500px;
}